
/**=====Overall=====*/
* {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body { 
    max-width: 1920px;  /* Adjust the width as needed */
    margin: 0 auto;  /* Centers the container horizontally */
    padding: 10px; /* Adds some space inside */

}
/**=====Title=====*/
.title {
    display: flex; 
    justify-content: center;
    align-items: center;
   padding: 1.5rm; 
    font-family: roboto
}
#title-info {
    /* green color until I figure out overall website design */
    color: green;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/**======STOCK INFO BOXES====== */
#stockbox { 

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto; 
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50%; 
    height: 250px;
    border-radius: 20px;
    background-color: #e8e8e8;
    border: 4px solid #FFFFFF;
    padding: 10px;
}
#stockbox:hover {
    transform: scale(1.02);
    box-shadow: 5px 10px #8d8c8c;
    
}
.stock-img { 
    width: 300px;
    height: 100%;
    object-fit: contain;
    margin-right: 20px;
}


/**=====Company Name & Stock Name=====*/ 
/* a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */

.Comp-Name{ 
    color:black;
    size: 16px;
}
/* 
.info-box{
    display: flex; 
    justify-content: right;
    width: 20%; 

} */
 /*TODO: fixing the padding of the box and making it even */
.stock-info-box {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    /* margin-top: 10px; */
    margin-left: auto;

    border: 1px solid gray;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.stock-info-box:hover { 
    /* transform: scale(1.02);
    box-shadow: 5px 10px #8d8c8c; */
}